body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
    text-align: center;
}

p {
    text-align: center;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form p {
    margin-bottom: 15px;
}

form button {
    display: block;
    width: 200px;
    margin: 20px auto;
    background-color: #007bff;
    color: #fff;
    padding: 50px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


form button:hover {
    background-color: #0056b3;
}
